* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        opacity: 0.7;
    }

nav {
    display: flex;
    align-items: center;
    background: #033466;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
    text-align: left;
}

    .nav-list li {
        letter-spacing: 3px;
        margin-left: 75px;
    }

nav input[type="submit"] {
    display: block;
    text-align: center;
    background-color: white;
    margin-left: 150vh;
    font-size: 16px;
    width: 80px;
    height: 40px;
    border-radius: 6px 6px;
    font-weight: bolder;
    cursor: pointer;
    border: #fff;
}

    nav input[type="submit"]:hover {
        transition: 0.7s;
        background-color: #011932;
        border: 1px solid #fff;
        color: white;
    }

.mobile-menu {
    cursor: pointer;
}

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
    }

.cabecalho {
    display: inline;
}

    .cabecalho h1 {
        margin-left: 2em;
        margin-top: 1em;
        border-bottom: 2px solid #cccc;
        margin-right: 2em;
    }

.container {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    display: flex;
    margin-left: 4em;
    flex-wrap: wrap;
}

.videos {
    width: calc(100% - 80em);
    max-width: 614px;
    margin-bottom: 30px;
}

.cabecalho .container .videos video {
    width: calc(100% - 4em);
}

.cabecalho .container .videos h2 {
    margin-bottom: 10px;
}
